node_modules
dist
npm-debug.log*

.env
.env.*
!.env.example

.git
.gitignore
.github

tests
jest.config.ts
coverage

docs
README.md
sonar-project.properties
.sonarcloud.properties

.vercel
.vercelignore
vercel.json

docker-compose.yml
Dockerfile
.dockerignore
